<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="add" class="com.mnzit.spring.demo.command.AddCommand"/>
    <bean id="sub" class="com.mnzit.spring.demo.command.SubCommand"/>
    <bean id="mul" class="com.mnzit.spring.demo.command.MulCommand"/>
    <bean id="div" class="com.mnzit.spring.demo.command.DivCommand"/>
    <bean id="pow" class="com.mnzit.spring.demo.command.PowerCommand"/>

    <bean id="mathCommandFactory" class="com.mnzit.spring.demo.factory.MathCommandFactory">
        <constructor-arg name="mathCommands">
            <list>
                <ref bean="add" />
                <ref bean="sub" />
                <ref bean="mul" />
                <ref bean="div" />
                <ref bean="pow" />
            </list>
        </constructor-arg>
    </bean>

    <bean id="calculator" class="com.mnzit.spring.demo.service.Calculator">
        <constructor-arg ref="mathCommandFactory"/>
    </bean>

    <bean id="student1" class="com.mnzit.spring.demo.models.Student">
        <property name="id" value="1"/>
        <property name="name" value="Anup"/>
        <property name="address" value="USA"/>
        <property name="contactNo" value="908712312"/>
    </bean>

    <bean id="student2" class="com.mnzit.spring.demo.models.Student">
        <property name="id" value="2"/>
        <property name="name" value="Manjit"/>
        <property name="address" value="Nepal"/>
        <property name="contactNo" value="9808546858"/>
    </bean>

    <bean id="studentService" class="com.mnzit.spring.demo.service.StudentService">
        <property name="studentMap">
            <map>
                <entry key="1" value-ref="student1"/>
                <entry key="2" value-ref="student2"/>
            </map>
        </property>
    </bean>

    <bean id="colorService" class="com.mnzit.spring.demo.service.ColorService">
        <property name="colors">
            <list>
                <value>Red</value>
                <value>Aero blue</value>
                <value>Acid Green</value>
                <value>Amazon</value>
                <value>Red</value>
                <value>Blue</value>
                <value>Purple</value>
                <value>Pink</value>
            </list>
        </property>
    </bean>
</beans>