<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="add" class="com.anup.spring.demo.command.AddCommand"/>
    <bean id="sub" class="com.anup.spring.demo.command.SubCommand"/>
    <bean id="mul" class="com.anup.spring.demo.command.MulCommand"/>
    <bean id="div" class="com.anup.spring.demo.command.DivCommand"/>

    <bean id="mathCommandFactory" class="com.anup.spring.demo.factory.MathCommandFactory">
        <constructor-arg name="mathCommands">
            <list>
                <ref bean="add" />
                <ref bean="sub" />
                <ref bean="mul" />
                <ref bean="div" />
            </list>
        </constructor-arg>
    </bean>

    <bean id="calculator" class="com.anup.spring.demo.service.Calculator">
        <constructor-arg ref="mathCommandFactory"/>
    </bean>

</beans>